@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --gradient-1:linear-gradient(90deg, rgba(111,136,252,1) 0%, rgba(148,164,241,1) 100%);
    --gradient-2:linear-gradient(45deg, rgba(189,157,234,1) 0%, rgba(161,99,247,1) 100%);
}

body{
    overflow-x: hidden;
}

.header{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    background-color: white;
    border-bottom: 1px solid #ddd;
}
.header h1 {
    font-size: 1.5em;
    background: linear-gradient(45deg, rgba(111,136,252,1), rgba(161,99,247,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* bagian chat */
.chat-container{
    width: 100%;
    max-width: 500px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
    margin: 4em auto 2em auto;
    padding: 1em .3em;
}
.chat-container .chat-bubble{
    border-radius: 10px;
    min-width: 300px;
    width: min-content;
    max-width: 450px;
    padding: .4em .3em;
    color: white;
    box-shadow: 0px 1em 1em #eee;
    word-wrap: break-word;
}
.chat-container .chat-bubble:last-child{
    margin-bottom: 2em;
}
.chat-container .chat-bubble.bot {
    background: var(--gradient-2);
}
.chat-container .chat-bubble.user {
    background: var(--gradient-1);
    margin-left: auto;
    text-align: right;
    padding-right: 1.3em;
}
/* untuk animasi loading */
.chat-container .chat-processing {
    width:200px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    gap: .3em;
    align-items: center;
    justify-content: center;
}
.chat-container .chat-processing span {
    width: 10px;
    height: 10px;
    display: block;
    background-color: #ccc;
    border-radius: 50%;
    
}

.chat-container .chat-processing span:nth-child(1) {
    animation: ping 1s linear infinite ;
}
.chat-container .chat-processing span:nth-child(2) {
    animation: ping 1.2s linear infinite ;
}
.chat-container .chat-processing span:nth-child(3) {
    animation: ping 1.3s linear infinite ;
}

.input-section {
    position: fixed;
    padding: .5em .3em;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    gap:0;
}
.input-section input {
    font-size: 1em;
    padding: .3em;
    outline: none;
    border-radius: 8px 0 0 8px;
    border: 1px solid #eee;
    border-right: none;
}

.input-section button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: .3em;
    background-color: inherit;
    outline: none;
    border: none;
    border-radius:0 8px 8px 0;
    border: 1px solid #eee;
    border-left: none;
}
@keyframes ping {
    0%,100%{
        transform: scale(0);
        background-color: #fff;
    }
    50%{
        transform: scale(1);
        background-color: #ccc;
    }
}
