@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --gradient-1:linear-gradient(90deg, rgba(111,136,252,1) 0%, rgba(148,164,241,1) 100%);
    --gradient-2:linear-gradient(45deg, rgba(189,157,234,1) 0%, rgba(161,99,247,1) 100%);
}

.header{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
}
.header h1 {
    font-size: 1.5em;
    background: linear-gradient(45deg, rgba(111,136,252,1), rgba(161,99,247,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* bagian chat */
.chat-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-end;
    height: 90vh;
    overflow-y: auto;
    padding:2em .5em;
}
.chat-container .chat-bubble{
    border-radius: 10px;
    min-width: 300px;
    width: 50%;
    max-width: 450px;
    padding: .4em .3em;
    color: white;
    box-shadow: 0px 1em 1em #eee;
}
.chat-container .chat-bubble.bot {
    background: var(--gradient-2);
}
.chat-container .chat-bubble.user {
    background: var(--gradient-1);
    margin-left: auto;
    text-align: right;

}

.input-section {
    position: fixed;
    padding: .5em .3em;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    gap:0;
}
.input-section input {
    font-size: 1em;
    padding: .3em;
    outline: none;
    border-radius: 8px 0 0 8px;
    border: 1px solid #eee;
    border-right: none;
}

.input-section button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: .3em;
    background-color: inherit;
    outline: none;
    border: none;
    border-radius:0 8px 8px 0;
    border: 1px solid #eee;
    border-left: none;
}
